---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card.astro';
---

<Layout title="Generate Password">
	<main class="flex justify-center items-center min-h-screen">
		<Card />
	</main>
</Layout>

